@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";
@import "./menu.css";
@import "./footer.css";
@import "./parallax.css";

header:after, header:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

/* *, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; */
}

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Nunito;
}

/* a {
  text-decoration: none;
} */

/* .container {
  max-width: 1100px;
  margin: 0 auto;
} */


