/* @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"; */
footer {
   margin-top: 10px; 
   min-width: 300px;
   position: relative;
}
.footer {
  height: 60px;
  width: 100vw;
  /* background: linear-gradient(0deg, rgba(43,45,66,1) 0%, rgba(217,4,41,1) 98%); */
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.social-icon {
  font-size: 30px;
  color: #ffffff;
}

.social-bar a {
  margin: auto 5px;
}

.social-icon:hover {
  color: #e89005;
}