ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2b2d42; /*;*/
}

li {
  float: right;
  
}

li a {
  color: #d90429;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  /*background-color: #8d99ae;*/
  color: #ef233c;
}
