@import url(https://fonts.googleapis.com/css?family=Raleway);
@import "./footer.css";
@import "./menu.css";
@import "./parallax2.css";

h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-image: url("./../images/fake_brick.png");
}

body {
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

