
.slide h1 {
  font-size: 250%
}

h1, h2, h3, strong{
  font-family: 'Dosis', sans-serif;
}

.slide p {
 font-size: 140%;
 line-height: 150%;
 color: #333;
 font-family: 'Dosis', sans-serif;
}

.slide {
 position: relative;
 padding: 25% 10%;
 min-height: 100vh;
 box-sizing: border-box;
 box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
 transform-style: inherit;
 font-family: 'Dosis', sans-serif;
}

.slide img {
 position: absolute;
 top: 50%;
 left: 35%;
 width: 640px;
 /* height: 240px; */
 transform: translateZ(.3px) scale(1) translateX(-94%) translateY(-100%) rotate(2deg);
 padding: 10px;
 border-radius: 2px;
 background: rgba(240,230,220, .7);
 box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide img:last-of-type {
 transform: translateZ(.4px) scale(1) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.slide:before {
 content: "";
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.title {
 width: 50%;
 padding: 5%;
 border-radius: 5px;
 background: rgba(17, 17, 17, 0.7);
 box-shadow: 0 0 8px rgba(0, 0, 0, .7);
 color: #fff;
 font-size: 1.3em;
 font-family: 'Dosis', sans-serif;
}

.slide:nth-child(2n) .title {
 margin-left: 0;
 margin-right: auto;
}

.slide:nth-child(2n+1) .title {
 margin-left: auto;
 margin-right: 0;
}

.slide, .slide:before {
 background: 50% 50% / cover;  
}

.big-header {
  text-align: center;
}
.header {
 text-align: left;
 font-size: 175%;
 color: #fff;
 text-shadow: 0 2px 2px #000;
 font-family: 'Dosis', sans-serif;
}

#title {
 background-image: url("./../images/jack-portrait5.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 font-family: 'Dosis', sans-serif;
 z-index:2;
}

#title h1 {
transform: translateZ(.25px) scale(.75);
transform-origin: 50% 100%;

}

#slide1 {
 background-image: url("./../images/computer2.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 transform: translateZ(-1px) scale(2);
}

#slide2 {
 background-image: url("./../images/graduation2.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 z-index:2;
}

#slide3 {
 background-image: url("./../images/karen-school.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 transform: translateZ(-1px) scale(2);
}

#slide4 {
  background-image: url("./../images/eva.jpg");
  background-size: cover;
 background-repeat: no-repeat;
  z-index:2;
}

#slide5 {
  background-image: url("./../images/australia-1.jpg");
  background-size: cover;
 background-repeat: no-repeat;
  transform: translateZ(-1px) scale(2);
  /* z-index:2; */
}

#slide6 {
  background-image: url("./../images/trio-toke.jpg");
  background-size: cover;
 background-repeat: no-repeat;
  z-index:2;
}
#slide7 {
  background-image: url("./../images/coder-academy.jpg");
  background-size: cover;
 background-repeat: no-repeat;
  transform: translateZ(-1px) scale(2);
  /* z-index:2; */
}
#slide10 {
  background-image: url("./../images/melbourne.jpg");
  background-size: cover;
 background-repeat: no-repeat;
  z-index:2;
  /* background: #222; */
}

@media only screen and (max-width: 300px) {
  .slide {
    font-size: 5px;
    padding: 5% 1%;
  }
  .title {
    width: 100%;
  }
  
}

@media only screen and (max-width: 600px) {
  .slide {
    font-size: 5px;
    padding: 5% 1%;
  }
  .title {
    width: 100%;
  }
  .slide img {
    display: none;
  }
  
}


@media only screen and (max-width: 800px) {
  .slide {
    font-size: 10px;
    padding: 25% 5%;
    
  }
  .title {
    width: 70%;
  }
  #title {
    background-image: url("./../images/jack-portrait-center.jpg");
  }
}

@media only screen and (min-width: 800px) {
  .slide {
    font-size: 15px;
    padding: 25% 10%;
  }
  .title {
    width: 60%;
  }
}